body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
            'header header header header header'
            'form form model model model'
            'form form model model model'
            'form form model model model'
            'form form console console console';
}

.header {
    border-bottom: lightgray 2px solid;
    grid-area: header;
    height: 8vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.header-text {
    padding: 1.5rem 10rem;
}
.header-logo {
    height: 80%;
    padding: 0.5rem;
}
#pri-logo {
    border-right: 1px solid lightgray;
}
#leo-logo {
    border-left: 1px solid lightgray;
}

.form {
    /*margin-top: 0.5rem;*/
    grid-area: form;
    width: 19.8vw;
    height: 91.5vh;
    grid-auto-columns: auto;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.form-inner {
    /*border-right: rgba(128, 128, 128, 1) 2px solid;*/
    /*border: black solid 2px;*/
    width: 90%;
    margin: auto;
    padding: 0.5rem;
}
.axis {
    display: flex;
    justify-content: center;

}
#range {
    margin: 0.2rem;
}
.sub-btn {
    font-size: 1.2rem;
    width: 50%;
    margin: 0.5rem auto;
    border: none;
    background: lightgray;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    transition: background 0.5s ease;
}
.sub-btn:hover {
    color: white;
    background: rgba(128, 128, 128,1);
}
.log {
    background: lightgray;
    border-top: lightgray 2px solid;
    border-bottom: lightgray 2px solid;
    color: green;
    overflow: scroll;
    height: 56%;
    overflow-x: hidden;
}
.log-text {
    width: 50%;
    margin: auto;
    padding: 0.2rem;
    text-align: center;
}
.clear-log {
    position: absolute;
    background: lightgray;
    width: 19.8vw;
    height: 15%;
    bottom: 0;
    font-size: 1.2rem;
    transition: background 0.5s ease;
    border: none;
    border-top: rgba(128, 128, 128,1) 2px solid;

}
.clear-log:hover {
    color: white;
    background: rgba(128, 128, 128,1);
}

.model {
    grid-area: model;
    /*width: 80vw;*/
    height: 86.5vh;
    border-bottom: lightgray 2px solid;
}

.console {
    /*background: blue;*/
    grid-area: console;
    height: 5vh;
}
#myBar {
    width: 0;
    height: 100%;
    line-height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}